src/AppRefinanciamientoHB/Resources/Schemas/Error.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://itg.santander.cl/AppRefinanciamientoHB/Resources/Schemas/Error.xsd"
	 targetNamespace="http://itg.santander.cl/AppRefinanciamientoHB/Resources/Schemas/Error.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Error">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Codigo" type="xs:string" minOccurs="0"/>
				<xs:element name="Mensaje" type="xs:string" minOccurs="0"/>
				<xs:element name="MsgUsuario" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>