src/AppRefinanciamientoHB/Resources/Schemas/Salida_COFO.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="COFO_Response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resultado" type="xs:string" minOccurs="0"/>
				<xs:element name="WSError" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="codError" type="xs:string" minOccurs="0"/>
							<xs:element name="descError" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>